<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>aplicacao</param-name>
        <param-value>Two Brothers - Desenvolvimento WEB</param-value>
    </context-param>
    <context-param>
        <param-name>IP</param-name>
        <param-value>127.0.0.1:8080/Scweb</param-value>
    </context-param>
    <context-param>
        <param-name>DB</param-name>
        <param-value>jdbc:mysql://127.0.0.1/sc</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletSc</servlet-name>
        <servlet-class>br.com.controller.ServletSc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPlano</servlet-name>
        <servlet-class>br.com.controller.ServletPlano</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>br.com.controller.ServletLogin</servlet-class>
        <init-param>
            <param-name>Geraldo</param-name>
            <param-value>333</param-value>
        </init-param>
        <init-param>
            <param-name>Celina</param-name>
            <param-value>123</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletRel</servlet-name>
        <servlet-class>br.com.controller.ServletRel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPag</servlet-name>
        <servlet-class>br.com.controller.ServletPag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sPesquisa</servlet-name>
        <servlet-class>br.com.controller.sPesquisa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sExtrato</servlet-name>
        <servlet-class>br.com.controller.sExtrato</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSc</servlet-name>
        <url-pattern>/ServletSc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPlano</servlet-name>
        <url-pattern>/ServletPlano</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRel</servlet-name>
        <url-pattern>/ServletRel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPag</servlet-name>
        <url-pattern>/ServletPag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sPesquisa</servlet-name>
        <url-pattern>/sPesquisa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sExtrato</servlet-name>
        <url-pattern>/sExtrato</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
